body{
    margin:0;
    font-family:Arial;
    background:#f2f2f2;
}

/* NAVBAR */
nav{
    background:#1e88e5;
    color:white;
    padding:15px 30px;
}

nav h2{
    margin:0;
}

/* QUIZ */
h1{
    text-align:center;
    margin:20px 0;
}

.question{
    background:white;
    padding:15px;
    margin:15px auto;
    width:60%;
    border-radius:8px;
}

button{
    display:block;
    margin:30px auto;
    padding:12px 30px;
    background:#1e88e5;
    color:white;
    border:none;
    font-size:16px;
    cursor:pointer;
}

/* RESULT */
.result-box{
    background:white;
    width:40%;
    margin:100px auto;
    padding:30px;
    text-align:center;
    border-radius:10px;
}

.result-box a{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    color:white;
    background:#1e88e5;
    padding:10px 20px;
}
