body {
    background:linear-gradient(black,gold);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-container {
    width: 320px;
    margin: 100px auto;
    background:linear-gradient(rgb(0, 0, 0),rgb(255, 166, 0));
    padding: 20px;
    border-radius: 6px;
}

h2 {
    text-align: center;
    color: rgb(206, 228, 248);
}

.input-area {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 25%;
   border-style: double;
}
button:hover{
    color: yellow;
    background-color: grey;
}
li {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-buttons button {
    margin-left: 5px;
}
