body{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 10px;
     background: radial-gradient(circle, #444, #000);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
    background-color: rgb(0, 0, 0);
    padding: 60px;
    border-radius: 50%;
    color: #05e2f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
      background: linear-gradient(145deg, #222, #555);
  box-shadow: 
    inset 0 0 15px #000,
    0 20px 40px rgba(0,0,0,0.8);
}

.display{
  font-size: 36px;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 25px;
}
.btn{  
    display: flex;
    justify-content: space-around;

}
button{
  width: 80px;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ddd, #383838);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}
.btn :hover {
  color: #00b5d4;
}